includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - public
        - routes
        - tests
        - config
        - database
    level: 1
    ignoreErrors:
    excludePaths:
        - routes/console.php
        - app/Http/Middleware/JwtAuthenticate
        - app/Http/Controllers/Api/Auth/AuthController
        - database/seeders
        - database/factories
    treatPhpDocTypesAsCertain: false
